
.head{
    border-bottom: 1px solid #F8309F;
}
.logocart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 360px 30px 390px;
}
.icons{
    display: flex;
    gap:15px;
}
.filterbyproduct{
    padding: 25px 360px 45px 390px;
}
.filterbyproducthead{
    display: flex;
    gap: 230px;
    align-items: center;
}
.filterbyproducthead p{
font-weight: 200;
font-size: 24px;
}
.headboxes{
    display: flex;
    gap: 38px;
}
.filterbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #8F478F;
    min-width: 110px;
    background-color: #f9f9f9;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
  }
.filterbox3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #8F478F;
    min-width: 150px;
    background-color: #f9f9f9;
    cursor: pointer;
    position: relative;
    border-radius: 6px;
  }
  .filterbox span, .filterbox3 span{
    /* font-size: 13px; */
    color: #656966;
  }
  
  .productlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* max-width: 1000px;  */
    margin: auto; /* Center the grid */
    margin-top: 30px;
  }
  .productitem{
    margin-top: 30px;
  }
  .productitembody{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .productitembody p{
    font-size: 18px;
    font-weight: 400;
  }
  .addcart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 100px;
    background-color: #E8AEC4;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
  }
  .productFooter{
    display: flex;
    justify-content: center;
    gap:100px;
    padding: 30px;
    background-color: #8F478F;
    color: #ffffff;
    padding-bottom: 60px;
  }
  .productFooterhead1{
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  .footerHead {
    font-weight: 700;
  }
  .footerHeadcompany{
    font-weight: 700;
    padding-left: 50px;
  }
  .productFooterhead1 span{
    font-size: 11px;
    color: #F4F4F4;
  }
  .subfooterHead {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .subfooterHead p{
   font-size: 14px;
  }
  
  .subfootercompany{
    display: flex;
    gap: 50px;
  }
  .subfootercompanybody{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    margin-top: 10px;
  }
  .footersoical{
    display: flex;
    gap: 20px;
    margin-top: 5px;
  }