*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  background-color:#f3e7eb;
  min-height: 100vh;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */
h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
input {
  font-weight: 300;
  padding: 8px 1rem;
  border: 1px solid #777;
  border-radius: 7px;
  outline: none;
}


/* body::before {
  content: "XS (≤575px)";
  color: red;
  font-size: 1rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
}

@media (min-width: 576px) {
  body::before {
    content: "SM (≥576px)";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD (≥768px)";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG (≥992px)";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL (≥1200px)";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL (≥1400px)";
  }
} */